body {
  background: #1c1d1e;
}

#barcode {
  display: none;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gc1 {
  background-image: url("goldcard_front.png");
  height: 440px;
  width: 700px;
  background-size: cover;
  border-radius: 20px;
}

#gc2 {
  margin-top: 20px;
  background-image: url("goldcard_back.png");
  height: 480px;
  width: 700px;
  background-size: cover;
  border-radius: 20px;
}

#postnummer {
  margin-top: 240px;
  margin-left: 35px;
  outline: none;
  border: 1px solid black;
  font-size: 20px;
  width: 7rem;
}

#image {
  margin-top: 350px;
  margin-left: 20px;
}

#newCode {
  color: black;
  margin-left: 50px;
  font-size: 30px;
  background-color: white;
  padding: 2px;
  text-decoration: none;
  outline: none;
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  color: white;
}

@media screen and (max-width: 860px) {
  #gc1, #gc2 {
    transform: scale(0.5);
  }
}